@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');



:root{
    --fonte1:"Passion One", sans-serif;
    --fonte2:"Sriracha", cursive;
}





body{
    margin: auto;
    min-width: 1980px;
    min-height: 1080px;

 

}

header{
    background-color: black;
    color: white;
    text-align: center;
    font-weight: lighter;

}

header h1{
    margin: 0px 0px 0px 0px;
    padding: 70px 0px;
    font-family: var(--fonte1);
    font-size: 120px;
    
}

header h1::first-letter{
    font-size: 170px;
}

header>h2>a{
   text-decoration: none;
   color: white;
   font-weight: bolder;
}

header h2{
    padding: 0px 0px 0px 0px;
    margin: -40px 0px 0px 0px;
}

main{
    background-color: white;
    margin: auto;

}

div{
    font-family: var(--fonte2);
    text-align: justify;
    font-size: 59px;
    margin-inline-start: 2vw;
}

#verso2 {
    background-image: url('../imagens/background001.jpg');
    color: white;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin-inline-start: 0vh;

}

#verso2 p {
    margin-inline-start: 2vw;

}


#verso4 {
    background-image: url('../imagens/background002.jpg');
    color: white;
    background-attachment: fixed;
    margin-inline-start: 0vh;
}
#verso4 p {
    margin-inline-start: 2vw;

}

footer{
    background-color: black;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border: 0px 0px 0px 0px;
    margin: 0px 0px -16px 0px;
     }

